<div class="template-posts">
  <div class="blog-sidebar">
    <h2>Posts</h2>

    <div class="search">
      {{input value=search}}<button id="blog-search" {{action 'searchPosts' search}}>Search</button>
    </div>
    {{#link-to 'posts.new'}}<small>[NEW POST]</small>{{/link-to}}
    {{#each post in model}}
    <h3>
      <button {{action 'deletePost' post}}>X</button>
      {{#link-to 'post' post}}{{post.title}}{{/link-to}}

    </h3>
    {{/each}}
  </div>
  <div class="blog-main">
    {{outlet}}
  </div>
</div>
